/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Print view
 */
%theme-base-print-display-none-important {
	display: none !important;
}

#wb-glb-mn {
	@extend %theme-base-print-display-none-important;
}

#wb-sttl small {
	display: block;
}

h1 {
	margin-top: 0;
}
