/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: All screen views
 */
%all-view-navigation-links {
	@include navigation-links;
}

%no-breadcrumb-icon {
	content: none;
	padding: 0;
}

body {
	> {
		header {
			background: #ccc;
		}
	}
}

.wb-sl {
	background: #000;
	color: #fff;
	font-weight: 700;

	&:focus {
		color: #fff;
		text-decoration: none;
	}
}

#wb-bar {
	background: #555;

	> {
		.container {
			background: #333;
		}
	}
}

#wb-bnr {
	> {
		.container {
			background: #cf3f0e;
		}
	}
}

#wb-sttl {
	a {
		@extend %all-view-navigation-links;
		color: #fff !important;
		text-decoration: none;
	}

	small {
		display: block;
		font-size: 0.4em;
		margin-bottom: 4px;
	}
}

%base-theme-wb-sm-wb-navcurr {
	background: #333;
	color: #fff;
}

%submenu-colors {
	background-color: #ccc;
	color: #000;
}

#wb-sm {
	.nvbar {
		background: #555;
	}

	ul {
		&.menu {
			margin-bottom: 0;

			> {
				li {
					border-right: 1px solid #999;
					padding: 0;

					> {
						a {
							&.wb-navcurr {
								@extend %base-theme-wb-sm-wb-navcurr;
							}

							// :focus not needed since already covered by the &.active state
							&:hover {
								@extend %submenu-colors;
							}
						}
					}

					&.active {
						border-right-color: #ccc;
					}
				}
			}
		}
	}

	.active {
		a,
		summary {
			@extend %submenu-colors;
		}
	}

	a,
	summary {
		color: #fff;
		display: block;
		font-weight: 700;
		padding: 0.48em 0.79em;
		text-decoration: none;
	}

	.sm {
		@extend %submenu-colors;
		border-bottom: 4px solid #0f315b;
		border-radius: 0 0 3px 3px;

		a,
		summary {
			@extend %medium-view-navigation-links;
			@extend %submenu-colors;
			font-weight: 400;

			&.wb-navcurr {
				@extend %base-theme-wb-sm-wb-navcurr;
			}
		}

		.slflnk {
			a {
				background: #bbb;

				&.wb-navcurr {
					@extend %base-theme-wb-sm-wb-navcurr;
				}
			}
		}
	}
}

#wb-bc {
	.breadcrumb {
		background: transparent;
		margin-bottom: 0;
	}

	li {
		&:before,
		&:after {
			color: #333;
			font-family: "Glyphicons Halflings";
			font-size: 0.7em;
		}

		&:before {
			content: "\e092";
		}

		&:first-child {
			&:before {
				@extend %no-breadcrumb-icon;
			}
		}
	}
}

#wb-dtmd {
	float: right;
}

#wb-info {
	li {
		margin-bottom: 0.75em;
	}
}

[dir=rtl] {
	#wb-bc {
		li {
			&:before {
				@extend %no-breadcrumb-icon;
			}

			&:after {
				content: "\e091";
				padding: 0 5px;
			}

			&:first-child {
				&:after {
					@extend %no-breadcrumb-icon;
				}
			}
		}
	}

	#wb-dtmd {
		float: left;
	}

	#wb-sec {
		.list-group {
			.list-group {
				.list-group-item {
					padding-left: 15px;
					padding-right: 1.8em;
				}
			}
		}
	}
}
