/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Small view and under (screen only)
 */
#wb-glb-mn {
	.pnl-btn {
		float: right;
		margin: 0;
		position: relative;
		z-index: 2;

		li {
			padding: 10px 0 10px 10px;
			width: 100%;
		}

		a {
			color: #474747;
			display: block;
			font-size: 1.7em;
			line-height: 1em;
			width: 100%;
		}

		span {
			.glyphicon-th-list {
				padding-left: 10px;
				top: 0;
			}
		}
	}
}

%small-view-background {
	background: #efefef;
}

%small-view-under-color {
	color: #fff;
}

#mb-pnl {
	background: $base-theme-mb-pnl-bg;

	header {
		background-color: #555;
	}

	nav {
		a {
			color: #000;
			text-decoration: none;
		}
	}

	summary {
		&:hover,
		&:focus {
			background: transparent;
		}
	}

	.modal-body {
		background: $base-theme-mb-pnl-bg;
		padding: 0;
	}

	.srch-pnl {
		@extend %small-view-background;

		.form-group {
			float: left;
			margin-right: 5px;
			width: 75%;
		}
	}

	#wb-srch-sub-imprt {
		@extend %small-view-under-color;
		background: #555;
		border-color: #555;

		&:hover,
		&:focus,
		&:active {
			@extend %small-view-under-color;
			background-color: #777;
			border-color: #777;
		}
	}

	.lng-ofr {
		@extend %small-view-background;

		a {
			color: #000;
			text-decoration: none;
		}
	}

	.sec-pnl {
		@extend %small-view-under-color;
		@extend %small-view-background;
	}

	.sm-pnl {
		background: #555;

		a {
			@extend %small-view-under-color;
		}

		summary {
			@extend %small-view-under-color;

			&:hover,
			&:focus {
				@extend %small-view-under-color;
			}
		}
	}
}

#wb-sttl {
	a {
		font-size: 1.9em;
		padding-top: 1.2em;
		position: relative;
		text-shadow: 0 1px 1px #044062;
		z-index: 1;
	}

	object,
	img {
		height: 1.21em;
		margin: 0;
		position: absolute;
		top: -7px;
		width: 2.6em;
	}
}

#wb-srch {
	margin-right: 15px;
	text-align: right;

	.form-group {
		display: inline-block;
	}
}

[dir=rtl] {
	#wb-srch {
		margin-left: 15px;
		text-align: left;
	}

	#mb-pnl {
		.srch-pnl {
			.form-group {
				float: right;
				margin-left: 5px;
				margin-right: auto;
				width: 75%;
			}
		}
	}

	#wb-glb-mn {
		> {
			ul {
				text-align: left;
			}
		}

		.pnl-btn {
			float: left;

			span {
				.glyphicon-th-list {
					padding-left: 0;
					padding-right: 10px;
				}
			}
		}
	}
}
