/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Medium view and over (screen only)
 */

%medium-view-navigation-links {
	@include navigation-links;
}

#wb-bar {
	min-height: 2.25em;

	a {
		color: #fff;
	}
}

#wb-lng {
	float: right;
	margin: 0;

	li {
		border-left: 1px solid #777;
		float: left;
		list-style-type: none;
		padding: 6px 15px;

		&:first-child {
			border-left: 0;
		}
	}

	a {
		color: #fff;
		text-decoration: none;
	}

	.curr {
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB90RVh0U29mdHdhcmUATWFjcm9tZWRpYSBGaXJld29ya3MgOLVo0ngAAAA6SURBVAiZY/z//z8DMvj14+s+BgYGBjYObicUif///8Pxz+9f9v2HAigbLodVETbFOBWhK8arCFkxABifl5syjffvAAAAAElFTkSuQmCC") no-repeat scroll center bottom;
		color: #ccc;
		display: block;

		span {
			@extend %accessible-invisible;
		}
	}
}

#wb-sttl {
	a {
		display: table-row;
		font-size: 1.8em;
		text-shadow: 1px 1px 1px #333;

		span {
			display: table-cell;
			line-height: normal;
			padding-left: 10px;
			vertical-align: middle;
		}
	}
}

#wb-srch {
	margin: 0.5em 0;
	padding-right: 10px;
	text-align: right;

	.form-group {
		width: 70%;
	}
}

#wb-srch,
.srch-pnl {
	.form-control {
		width: 100%;
	}
}

[lang=fr] {
	#wb-srch {
		.form-group {
			width: 60%;
		}
	}
}

%secmenu-base-theme-menuitem-curr-hover-focus {
	background: darken(#fff, 50%);
	color: lighten(#555, 75%);
}

#wb-sec {
	margin-top: 20px;
	padding-bottom: 2em;

	h3 {
		border: 1px solid #ddd;
		border-bottom: 3px solid #666;
		font-size: 1em;
		margin: 0;
		padding: 15px;

		a {
			color: #333;
			text-decoration: none;
		}
	}

	.list-group {
		margin-bottom: 0;

		a {
			&.list-group-item {
				background: #fff;
				border-radius: 0;
				color: #555;
				margin-top: -1px;
				text-decoration: none;

				&.wb-navcurr {
					@extend %secmenu-base-theme-menuitem-curr-hover-focus;
				}

				&[href] {
					&:hover,
					&:focus {
						@extend %secmenu-base-theme-menuitem-curr-hover-focus;
					}
				}
			}
		}

		.list-group {
			.list-group-item {
				background: darken(#fff, 10%);
				color: darken(#555, 50%);
				padding-left: 1.8em;
			}
		}
	}
}

[dir=rtl] {
	#wb-srch {
		text-align: left;
	}
}
