/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Small view and over (screen only)
 */
%page-background {
	background-color: #fff;
}

body {
	background: #eee;

	> {
		main {
			@extend %page-background;
		}

		header {
			+ {
				.container {
					@extend %page-background;
				}
			}
		}
	}
}

#wb-bc {
	.container {
		@extend %page-background;
	}
}

footer {
	background: #cf3f0e;
	border-top: 1px solid #bbb;

	> {
		.container {
			background: #ccc;
		}
	}
}
