/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

@import "../lib/wet-boew/src/variables";

$banner-gradient-start: #4065B3;
$banner-gradient-end: #33479E;
