/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

// Body
$body-bg: #eee; // Body element's background colour (Bootstrap override).

//Breadcrumb
$breadcrumb-bg: #fff; // Inner background colour (Bootstrap override).

// Main
$main-bg: #fff; // Main element's background colour (WET override).

$banner-gradient-start: #4065b3;
$banner-gradient-end: #33479e;
$base-theme-mb-pnl-bg: #ccc;

@mixin navigation-links {
	a {
		&:link,
		&:visited {
			text-decoration: none;
		}

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

@import "../lib/wet-boew/src/variables";
