/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Medium view and over (screen only)
 */

%submenu-colors {
	background-color: #CCC;
	color: #000;
}

// TODO: Implement when libsass gets better placeholder support
// %navigation-links {
//	a {
//		&:link {
//			text-decoration: none;
//		}
//
//		&:hover, &:focus {
//			text-decoration: underline;
//		}
//	}
//}
//

#wb-bar {
	min-height: 2.25em;

	a {
		color: #FFF;
	}
}

#wb-lng {
	float: right;
	margin: 0;

	li {
		border-left: 1px solid #777;
		list-style-type: none;
		float: left;
		padding: 6px 15px;
		&:first-child {
			border-left: none;
		}
	}

	a {
		color: #FFF;
		text-decoration: none;
	}
		
	.curr {
		display: block;
		color: #ccc;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB90RVh0U29mdHdhcmUATWFjcm9tZWRpYSBGaXJld29ya3MgOLVo0ngAAAA6SURBVAiZY/z//z8DMvj14+s+BgYGBjYObicUif///8Pxz+9f9v2HAigbLodVETbFOBWhK8arCFkxABifl5syjffvAAAAAElFTkSuQmCC) no-repeat scroll center bottom;

		span {
			@extend %accessible-invisible;
		}
	}

	
}

#wb-sttl {
	a {
		font-size: 1.8em;
    	text-shadow: 1px 1px 1px #333333;
		display: table-row;

		span {
			display: table-cell;
			vertical-align: middle;
			line-height: normal;
			padding-left: 10px;
		}
	}
}

#wb-srch {
	margin: 0.5em 0;
	text-align: right;
	padding-right: 10px;

	.form-group {
		width: 70%;
	}
}

#wb-srch, .srch-pnl {
	.form-control {
		width: 100%;
	}
}

[lang=fr] {
	#wb-srch {
		.form-group {
			width: 60%;
		}
	}
}

%base-theme-wb-sm-wb-navcurr {
	background: #333;
	color: #fff;
}
#wb-sm {
	.nvbar {
		background: #555;
	}

	ul {
		&.menu {
			margin-bottom: 0;
			> {
				li {
					padding: 0;
					border-right: 1px solid #999;

					> {
						a {
							&.wb-navcurr {
								@extend %base-theme-wb-sm-wb-navcurr;
							}
						}
					}

					&.active {
						border-right-color: #CCC;
					}
				}
			}
		}
	}

	.active {
		a, summary {
			@extend %submenu-colors;
		}
	}
	
	a, summary {
		display: block;
		color: #FFF;
		font-weight: 700;
		padding: 0.48em 1.17em 0.48em 0.79em;
		text-decoration: none;
	}

	.sm {
		@extend %submenu-colors;
		border-bottom: 4px solid #0F315B;
		border-radius: 0 0 3px 3px;

		a, summary {
			@extend %submenu-colors;
			font-weight: 400;

			// TODO: Implement %navigation-links when libsass gets better placeholder support
			&:link {
				text-decoration: none;
			}

			&.wb-navcurr {
				@extend %base-theme-wb-sm-wb-navcurr;
			}

			&:hover, &:focus {
				text-decoration: underline;
			}
		}

		.slflnk {
			background: #bbb;
		}
	}
}

%secmenu-base-theme-menuitem-curr-hover-focus {
	background: darken($clrWhite, 50%);
	color: lighten($clrDark, 75%);
}
#wb-sec {
	margin-top: 20px;
	padding-bottom: 2em;

	h3 {
		padding: 15px;
		margin: 0;
		border: 1px solid #ddd;
		border-bottom: 3px solid #666;
		font-size: 1em;

		a {
			color: #333;
			text-decoration: none;
		}
	}

	.list-group {
		margin-bottom: 0;
		a {
			&.list-group-item {
				background: $clrWhite;
				color: $clrDark;
				border-radius: 0;
				margin-top: -1px;
				text-decoration: none;

				&.wb-navcurr {
					@extend %secmenu-base-theme-menuitem-curr-hover-focus;
				}

				&[href] {
					&:hover, &:focus {
						@extend %secmenu-base-theme-menuitem-curr-hover-focus;
					}
				}
			}
		}

		.list-group {
			.list-group-item {
				background: darken($clrWhite, 10%);
				color: darken($clrDark, 50%);
				padding-left: 1.8em;
			}
		}
	}
}

[dir=rtl] {
	#wb-srch {
		text-align: left;
	}
}
