/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Small view and under (screen only)
 */

 
#wb-glb-mn {
	padding: 0;

	> ul {
		margin: 10px 0;

		a {
			color: #FFF;
			font-size: 1.5em;
		}
	}

	.pnl-btn {
		position: relative;
		float: right;
		width: 50%;
		z-index: 2;
		li {
			padding: 3px 0 0;
			width: 100%;
		}
		a {
			color: #FFF;
			font-size: 1.5em;
			display: block;
			width: 100%;
		}
	}
}

%base-theme-site-menu-mb-pnl-padding-10-20 {
	padding: 10px 20px;
}
%small-view-background-efefef {
	background: #efefef;
}
%small-view-under-color-fff {
	color: #fff;
}
$base-theme-mb-pnl-bg: #ccc;
#mb-pnl {
	background: $base-theme-mb-pnl-bg;
	header {
		background-color: #555;
	}

	nav {
		a {
			color: #000;
			text-decoration: none;
		}
	}

	summary {
		&:hover, &:focus {
			background: transparent;
		}
	}

	.modal-body {
		background: $base-theme-mb-pnl-bg;
		padding: 0;
	}

	.srch-pnl {
		@extend %base-theme-site-menu-mb-pnl-padding-10-20;
		@extend %small-view-background-efefef;
		.form-group {
			float: left;
			margin-right: 5px;
			width: 75%;
		}
	}

	#wb-srch-sub-imprt {
		background: #555;
		border-color: #555;
		@extend %small-view-under-color-fff;
		&:hover, &:focus, &:active {
			background-color: #777;
			border-color: #777;
			@extend %small-view-under-color-fff;
		}
	}

	.lng-ofr {
		@extend %base-theme-site-menu-mb-pnl-padding-10-20;
		text-align: right;
		@extend %small-view-background-efefef;
		a {
			color: #000;
			text-decoration: none;
		}
	}

	.sec-pnl {
		@extend %small-view-under-bg-color-fff;
		@extend %base-theme-site-menu-mb-pnl-padding-10-20;
		@extend %small-view-background-efefef;
	}

	.sm-pnl {
		background: #555;
		@extend %base-theme-site-menu-mb-pnl-padding-10-20;
		a {
			@extend %small-view-under-color-fff;
		}
		summary {
			@extend %small-view-under-color-fff;
			&:hover, &:focus {
				@extend %small-view-under-color-fff;
			}
		}
	}

	.info-pnl {
		@extend %base-theme-site-menu-mb-pnl-padding-10-20;
	}
}

#wb-sttl {
	a {
		position: relative;
		z-index: 1;
		padding-top: 1.125em;
		font-size: 1.9em;
		text-shadow: 0 1px 1px #044062;
	}
	object, img {
		position: absolute;
		top: -27px;
		margin: 0;
		width: 158px;
	}
}

#wb-bc {
	.breadcrumb {
		background: #FFF;
		border-radius: 0;
	}
}

[dir=rtl] {
	#mb-pnl {
		.lng-ofr {
			text-align: left;
			ul {
				margin-left: 0;
			}
			li {
				padding-left: 0;
				padding-right: 10px;
			}
		}
	}
	#wb-glb-mn {
		> {
			ul {
				text-align: left;
			}
		}
		.pnl-btn {
			float: left;
		}
	}
}
