/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Small view and over (screen only)
 */
%page-background {
	background-color: #FFF;
}

body {
	background: #EEE;
}

#wb-bc {
	.container {
		@extend %page-background;
	}
}

body {
	> {
		main {
			@extend %page-background;
		}

		header + .container {
			@extend %page-background;
		}
	}
}

footer {
	background: #CF3F0E;
	border-top: 1px solid #BBBBBB;
	> {
		.container {
			background: #CCC;
		}
	}
}
